include AUTHORS
include COPYING
include README
include MANIFEST.in
recursive-include sudoaudio/puzzles *
recursive-include sudoaudio/sounds *
recursive-include sudoaudio/locale *include sudoaudio/speech/drivers/nvdaControlerClient32.dll
